    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        background-color: #007d9c;
        color: white;
        text-align: center;
        padding: 2rem;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    h1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
    }

    label {
        font-family: Arial, Helvetica, sans-serif;
        align-self: flex-start;
    }

    .main-forms {
        margin-top: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .annotation {
        margin-top: 20px;
        align-self: center;
        width: 60%;
    }

    .question-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .rating {
        align-self: center;
        
    }

    .user-text {
        background-color: lightgray;
        border-radius: 5px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        padding: 5px;
        margin-top: 10px;
        max-height: 300px;
        overflow-y: auto;
        word-wrap: break-word;
    }

    .sub-ans {
        align-self: center;
    }

    .textplace-main {
        width: 85%;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 1%;
        padding: 10px 0 10px 0;
    }

    .title-for-q {
        margin-left: 5px;
    }

    button {
        align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }

    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem;
        margin-top: auto;
    }
